body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

.App {
  text-align: center;
}
.containerCities{
  height: -webkit-fill-available;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}
.container{
  margin: 8em;
  width: 600px;
}
.citiesShow{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  color: #eeff41;
  display: relative;
  background-color: #00bfa5;
}
.citiesShow2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  display: relative;
  background-color: #00796b;
  color: #eeff41;
  margin-left: auto;
  margin-right: auto;
}
.citiesShow3{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  color: #c6ff00;
  display: relative;
  background-color: #004d40;
  margin-left: auto;
}
.buttonStyle{
  color: #eeff41;
  background-color: #424242; 
}