body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightblue;
  height: -webkit-fill-available;
}

.containerCities {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  width: 100%;
  background-color: lightblue;
}

.containerCities .container {
  width: 600px;
  padding: 4em;
}

@media screen and (max-width: 1400px) {
  .containerCities .container {
    padding: 2em;
    width: 100%;
    width: 700px;
  }
  .containerCities .container .citiesShow {
    height: 170px;
    width: 170px;
  }
  .containerCities .container .citiesShow2 {
    height: 180px;
    width: 180px;
  }
  .containerCities .container .citiesShow3 {
    height: 190px;
    width: 190px;
  }
}

@media screen and (max-width: 900px) {
  .containerCities .container {
    padding: 2em;
    width: 100%;
    width: 620px;
  }
}

@media screen and (max-width: 600px) {
  .containerCities .container {
    width: 100%;
  }
}

.containerCities .container div .citiesShow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  font-size: 20px;
  z-index: 2;
  position: relative;
  flex-wrap: wrap;
  border-radius: 50%;
  display: relative;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.2);
  color: #eeff41;
  background-color: #00bfa5;
}

.containerCities .container div .citiesShow:hover {
  background-color: #212121;
  box-shadow: -20px 50px 100px rgba(0, 0, 0, 0.5);
  color: #424242;
  font-size: 30px;
}

.containerCities .container div .citiesShow2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  font-size: 20px;
  z-index: 2;
  position: relative;
  flex-wrap: wrap;
  border-radius: 50%;
  display: relative;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.2);
  color: #c6ff00;
  background-color: #00796b;
  margin-left: auto;
  margin-right: auto;
}

.containerCities .container div .citiesShow2:hover {
  background-color: #212121;
  box-shadow: -20px 50px 100px rgba(0, 0, 0, 0.5);
  color: #424242;
  font-size: 30px;
}

.containerCities .container div .citiesShow3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  font-size: 20px;
  z-index: 2;
  position: relative;
  flex-wrap: wrap;
  border-radius: 50%;
  display: relative;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.2);
  color: #c6ff00;
  background-color: #004d40;
  margin-left: auto;
}

.containerCities .container div .citiesShow3:hover {
  background-color: #212121;
  box-shadow: -20px 50px 100px rgba(0, 0, 0, 0.5);
  color: #424242;
  font-size: 30px;
}

.containerCities .container .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.container .citiesShow.cit1:hover ~ .bg,
.container .citiesShow.cit1:hover {
  opacity: 1;
  background: linear-gradient(#c6ff00, #827717);
}

.container .citiesShow2.cit2:hover ~ .bg,
.container .citiesShow2.cit2:hover {
  opacity: 1;
  background: linear-gradient(#eeff41, #454b0b);
}

.container .citiesShow3.cit3:hover ~ .bg,
.container .citiesShow3.cit3:hover {
  opacity: 1;
  background: linear-gradient(#ffc107, #6b5710);
}

.buttonStyle {
  color: #eeff41;
  background-color: #424242;
}

.btn {
  color: #212121;
  font-weight: bold;
  cursor: pointer;
}
